*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

body{
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.isi{
    display: flex;
    width: 100%;
    height: 99px;
    background-color: #011627;
    justify-content: space-between;
    font-size: 20px;
}

.merek{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 40px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;
}

.nama{
    color: white;
}


.merek img{
    padding-right: 10px;
    padding-top: 15px;
    width: 70px;
}

ul{
    color: white;
}

.navigasi{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    padding-right: 60px;
}

.navigasi > li{
    list-style-type: none;
    padding: 15px;
    font-size: 20px;
}

.navigasi > li > a:hover{
    color: #8338ec;
    transition: all .5 ease-in-out;
}

.navigasi > li > a{
    text-decoration: none;
    color: white;
}

.navigasi >button{
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    border: none; 
    border-radius: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    font-size: 18px;
    transition: .7s;
}

.navbar ul.dark-mode li a.active,
.navbar ul.dark-mode li a:hover{
    background: gray;
    color: darkgoldenrod;
    border-radius: 2px;
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: grid;
}

.hero h1{
    color: black;
    font-size: 60px;
}

.hero p{
    color: black;
}

.hero .profile{
    line-height: 12px;
}

.hero .box-hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
    align-items: center;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.hero .box-hero .box:nth-child(1) p{
    line-height: 2;
    margin-bottom: 20px;
}

.hero .box-hero .box:nth-child(1) h1{
    margin-bottom: 20px;
    font-weight: bold;
}

.hero .box-hero .box:nth-child(2) img{
    border-radius: 10px;
}

.hero .profile p{
    justify-content: flex-start;
    text-align: start;
    margin: 50px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 300;
    width: 70vh;
}

.hero .profile h1{
    line-height: 2cm;
    padding-left: 60px;
    font-size: 50px;
}

.hero .gambar img{
    width: 450px;
    margin-left: 250px;
    padding-top: 50px;
    padding-left: 70px;
}

.aboutme{
    width: 100%;
    min-height: 100vh;
    display: grid;
    margin-top: 100px;
    margin-bottom: 60px;
}

.aboutme h1{
    color: black;
    font-size: 60px;
}

.aboutme p{
    color: black;
}

.aboutme .profile{
    line-height: 12px;
}

.aboutme .boxaboutme{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.aboutme .boxaboutme .box:nth-child(1) p{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 20px;
}

.aboutme .boxaboutme .box:nth-child(1) h1{
    font-size: 58px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.aboutme .profile p{
    justify-content: flex-start;
    text-align: start;
    margin: 50px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    width: 70vh;
}

.aboutme .profile h1{
    line-height: 2cm;
    padding-left: 50px;
    font-size: 60px;
}

.aboutme .gambar img{
    width: 325px;
    padding-left: 100px;
}

.katalog{
    width: 100%;
    min-height: 100vh;
    display: grid;
    margin-top: -100px;
    margin-bottom: 50px;
}

.katalog .judul h1{
    color: black;
    text-align: center;
    margin: 110px;
    margin-bottom: 30px;
    font-size: 60px;
}

.katalog img{
    width: 130vh;
}

.contact h1{
    color: white;
    text-align: center;
    margin: 30px;
    margin-bottom: 60px;
    font-size: 25px;
}

footer{
    background-color: #011627;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials a:hover,
footer .links a:hover{
    color: #8338ec;
}

footer .links{
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 10px;
}

footer .links a{
    color: white;
    padding: 0.7rem 1rem;
}